body{
    font-family: arial, sans-serif;
    line-height: 1.6;
    background-color:#f2f2f2;
    margin:0;
    padding: 0;
}
.cont{
    max-width: 800px;
    margin: 29px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.seccion {
    margin-bottom: 30px;
}

.foto_perfil {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 20px;
}
.detalles_pers{
    overflow: hidden;
}
.seccion h1, .seccion h2, .seccion h3 {
    color: rgb(15, 136, 89);
    margin: 0;
}

.seccion h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.seccion p {
    margin: 0;
}

.experiencia {
    margin-top: 15px;
}

.experiencia h3 {
    margin-bottom: 5px;
}